<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <title>AboutMe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">
    <link href="Style.css" th:href="Style.css" rel="stylesheet" media="screen"/>

</head>

<body class="jumbotron bg-lightBlue pl-5 pr-5 pt-0">


<div class="jumbotron text-center rounded-0 bg-white mb-0 ">
    <div class="row">
        <div class="col">
            <img width="200px" height="200px" th:src="${facultyPhoto}" />
        </div>
        <div class="col-xl pt-5">
            <h1 th:text="${who.nameField}+' '+${who.surnameField}"></h1>
            <h5>About Me</h5>
        </div>
        <div class="col"></div>

    </div>
</div>



<nav class="navbar navbar-expand-lg navbar-dark bg-changableColor navbarBorderYellow">
    <a class="navbar-brand" href="Home.html" th:text="${who.nameField}+' '+${who.surnameField}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link hoverNavLight" href="Home.html">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link hoverNavLight" href="AboutMe.html">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hoverNavLight" href="Publications.html">Publications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hoverNavLight" href="Student.html">Student</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link hoverNavLight" href="Contact.html">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center rounded-0 p-3 bg-white mb-0">
    <div class="jumbotron bg-changableColor text-white py-3 shadow">
        <p class="h4">This is a piece of information about Me.</p>
        <p class="h4">Here you can find basic information about who I am and my hobbies.</p>
        <p class="h4">You can also download my CV here.</p>
    </div>

    <div class="jumbotron bg-myYellow mb-0 py-3">
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col">

                <div class="bg-white shadow-lg">

                    <table class="table">
                        <tbody>
                        <tr>
                            <th scope="row">
                                <i class="fas fa-user-circle"></i>
                            </th>
                            <td class="text-left font-weight-bold">
                                <p th:text="${who.degreeField}+' '+${who.nameField}+' '+${who.surnameField}"></p>

                        </tr>
                        <tr>
                            <th scope="row">
                                <i class="fas fa-briefcase"></i>
                            </th>
                            <td class="text-left font-weight-bold">
                                <p th:text="${who.workAddressField}"></p>
                                <p th:text="${who.professionField}"></p>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">
                                <i class="fas fa-book"></i>
                            </th>
                            <td class="text-left font-weight-bold">
                                <a th:href="${who.usosPersonProfileLinkField}">Usos</a>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">
                                <i class="fas fa-sticky-note"></i>
                            </th>
                            <td class="text-left font-weight-bold">
                                <a th:href="${cv}" th:download="${who.nameField}+'_'+${who.surnameField}+'_CV.pdf'">CV</a>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">
                                <i class="fab fa-twitter"></i>
                            </th>
                            <td class="text-left font-weight-bold">
                                <a th:href="${who.twitterField}">Twitter</a>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">
                                <i class="fab fa-facebook-square"></i>
                            </th>
                            <td class="text-left font-weight-bold">
                                <a th:href="${who.facebookField}">Facebook</a>
                            </td>
                        </tr>


                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col">
                <img class="rounded shadow-lg " width="300" height="375" th:src="${photo}" alt="my photo" />
            </div>
            <div class="col-1">

            </div>
        </div>
        <div class="row mt-4">
            <div class="col-1">

            </div>
            <div class="col bg-white shadow-lg">

                <table class="table ">
                    <tbody>
                    <tr>
                        <th scope="row">
                            <i class="fas fa-football-ball"></i>
                        </th>
                        <td class="text-left ">
                            <p class="font-weight-bold">This is my hobby !</p>
                            <p th:text="${who.hobbyField}"></p>

                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-1">

            </div>
        </div>
    </div>
</div>
<div class="jumbotron footer text-center py-3 rounded-0 bg-lightBlue text-white BorderTopYellow">
</div>

</body>

</html>

<!--  Free Icons https://fontawesome.com/icons?d=gallery&m=free -->