<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <title>Contact</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
    <link href="Style.css" th:href="Style.css" rel="stylesheet" media="screen"/>

</head>

<body class="jumbotron bg-lightBlue pl-5 pr-5 pt-0">


<div class="jumbotron text-center rounded-0 bg-white mb-0 ">
    <div class="row">
        <div class="col">
            <img width="200px" height="200px" th:src="${facultyPhoto}"/>
        </div>
        <div class="col-xl pt-5">
            <h1 th:text="${who.nameField}+' '+${who.surnameField}"></h1>
            <h5>Contact</h5>
        </div>
        <div class="col"></div>

    </div>
</div>


<nav class="navbar navbar-expand-lg navbar-dark bg-changableColor navbarBorderYellow">
    <a class="navbar-brand" href="Home.html" th:text="${who.nameField}+' '+${who.surnameField}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link hoverNavLight" href="Home.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hoverNavLight" href="AboutMe.html">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hoverNavLight" href="Publications.html">Publications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hoverNavLight" href="Student.html">Student</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link hoverNavLight" href="Contact.html">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center rounded-0 p-3 bg-white mb-0">
    <div class="jumbotron bg-changableColor  py-3 shadow">
        <div class="row">
            <div class="col p-5 text-white">
                <p class="h4">Do you need face to face meeting ? Please come in those hours.</p>
                <p class="h4">I also provide my email and phone contact info.</p>
            </div>
            <div class="col">
                <div class="bg-white shadow-lg ">

                    <table class="table">
                        <thead>
                        <p class="text-center font-weight-bold mt-2">Call Me / Mail Me</p>

                        </thead>
                        <tbody>

                        <tr>
                            <th scope="row">
                                <i class="fas fa-phone"></i>
                            </th>
                            <td class="text-left font-weight-bold">
                                <p th:text="${who.getFormatPhoneNumberField()}"></p>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">
                                <i class="fab fa-telegram-plane"></i>
                            </th>
                            <td class="text-left font-weight-bold">
                                <p th:text="${who.getUserSecurityDataField().email}"></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron bg-myYellow mb-0 py-3">

        <div class="row">
            <div class="col" th:each="contactData : ${who.getPersonMeetMeDataList()}">
                <div class="bg-white shadow-lg">

                    <table class="table">
                        <tbody>
                        <tr>
                            <th scope="row"><i class="fas fa-briefcase"></i></th>
                            <td class="text-left font-weight-bold"><p th:text="${contactData.placeField}"></p>
                                <p class="font-weight-bold" th:text="'Office:'+${contactData.officeField}"></p></td>

                        </tr>
                        <tr>
                            <th scope="row"><i class="far fa-calendar-alt"></i></th>
                            <td class="text-left font-weight-bold"><p th:text="${contactData.dayField}"></p>
                                <p th:text="${contactData.timeField}"></p></td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="jumbotron footer text-center py-3 rounded-0 bg-lightBlue text-white BorderTopYellow">
</div>

</body>

</html>