<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="Style.css" th:href="Style.css" rel="stylesheet" media="screen"/>

</head>

<body class="jumbotron bg-lightBlue pl-5 pr-5 pt-0">


<div class="jumbotron text-center rounded-0 bg-white mb-0 ">
    <div class="row">
        <div class="col">
            <img width="200px"  height="200px" th:src="${facultyPhoto}"/>
        </div>
        <div class="col-xl pt-5">
            <h1 th:text="${who.nameField}+' '+${who.surnameField}"></h1>
            <h5>Home</h5>
        </div>
        <div class="col"></div>

    </div>
</div>



<nav class="navbar navbar-expand-lg navbar-dark bg-changableColor navbarBorderYellow" >
    <a class="navbar-brand" href="Home.html" th:text="${who.nameField}+' '+${who.surnameField}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link hoverNavLight active" href="Home.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hoverNavLight" href="AboutMe.html">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hoverNavLight" href="Publications.html">Publications</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link hoverNavLight" href="Student.html">Student</a>
            </li>
            <li style="float:right" class="nav-item ">
                <a class="nav-link hoverNavLight" href="Contact.html">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center rounded-0 bg-white p-2 mb-0">

    <div class="jumbotron mt-2 mb-3 mx-3 p-3 shadow bg-changableColor text-white" >
        <h4>News</h4>
    </div>

    <div class="jumbotron m-3 p-1 bg-myYellow" th:each="objNews: ${news}">
        <div class="jumbotron bg-white mx-5 my-2 p-3 border  font-italic " >
            <i class="fas fa-clipboard-list"></i>
            <p class="d-inline" th:text="' '+${objNews.newsContentField}"></p>
        </div>
    </div>
</div>
<div class="jumbotron footer text-center py-3 rounded-0 bg-lightBlue text-white BorderTopYellow">

</div>
</body>
</html>

