<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <title>Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">

    <link href="../static/css/teacherSupportCSS.css" th:href="@{css/teacherSupportCSS.css}" rel="stylesheet" media="screen" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>

    <link href="Style.css" th:href="Style.css" rel="stylesheet" media="screen"/>

</head>

<body class="jumbotron bg-lightBlue pl-5 pr-5 pt-0">


<div class="jumbotron text-center rounded-0 bg-white mb-0 ">
    <div class="row">
        <div class="col">
            <img width="200px"  height="200px" th:src="${facultyPhoto}"/>
        </div>
        <div class="col-xl pt-5">
            <h1 th:text="${who.nameField}+' '+${who.surnameField}"></h1>
            <h5>Student</h5>
        </div>
        <div class="col"></div>

    </div>
</div>



<nav class="navbar navbar-expand-lg navbar-dark bg-changableColor navbarBorderYellow" >
    <a class="navbar-brand" href="Home.html" th:text="${who.nameField}+' '+${who.surnameField}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link hoverNavLight" href="Home.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hoverNavLight" href="AboutMe.html">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hoverNavLight" href="Publications.html">Publications</a>
            </li>
            <li class="nav-item active" >
                <a class="nav-link hoverNavLight" href="Student.html">Student</a>
            </li>
            <li style="float:right" class="nav-item ">
                <a class="nav-link hoverNavLight" href="Contact.html">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center rounded-0 bg-white p-0">

    <div class="row">
        <div class="col-2 bg-changableColor ml-3">
            <div class="list-group ">

                <span th:each="group : ${generatorPersonAllGroups}">
                <button type="button" href="#" class="hoverA list-group-item list-group-item-action bg-changableColor text-white" th:value="${group.id}" onclick="showDiv(this.value)" th:text="${group.groupNameField}"></button>
                </span>

            </div>
        </div>
        <div class="col text-center">
            <div  id="helloForStudent" class="jumbotron mt-4 mr-4 " style="display:block;">
                <p> Hello dear student.</p>
                <p>On this page you can download resources for your classes.</p>
                <p> Please select your group.</p>
                <p>If you are not sure if you had selected the right one,you can check group usos number in group  details.</p>
            </div>

            <span th:each="groupDetail : ${generatorPersonAllGroups}">
            <div  th:id="${groupDetail.id}" class="jumbotron mt-4 mr-4 bg-myYellow py-2" style="display:none;">
                <div class="row">
                    <div class="col-4">

                        <table class="table bg-white">

                            <tbody>
                            <tr>
                                <th scope="row">Group Name:</th>
                                <td th:text="${groupDetail.groupNameField}"></td>
                            </tr>
                            <tr>
                                <th scope="row">USOS Group Nr:</th>
                                <td th:text="${groupDetail.groupNrFiled}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Class Name:</th>
                                <td th:text="${groupDetail.classNameField}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Faculty:</th>
                                <td th:text="${groupDetail.facultyField}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Day:</th>
                                <td th:text="${groupDetail.classDayFiled}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Time:</th>
                                <td th:text="${groupDetail.dispTime(groupDetail.timeFromFieldH,groupDetail.timeFromFieldM,groupDetail.timeToFieldH,groupDetail.timeToFieldM)}"></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="col">
                        <div class="table-responsive makeMeScrollBig">
                            <div class="form-check">
                                <table class="table bg-white">
                                    <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Get Me</th>

                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr th:each="resource: ${groupDetail.groupsResourcesList}">
                                        <td th:text="${resource.studGroupResourceName}"></td>
                                        <td><a th:href="${resource.resourceLink}">Get Me</a></td>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            </span>
        </div>
    </div>
    <div class="jumbotron footer text-center py-3 rounded-0 bg-lightBlue text-white BorderTopYellow">
    </div>

</div>

</body>
<script>

    var oldGroup="helloForStudent";

        function showDiv(x){
        document.getElementById(oldGroup).style.display="none";
        document.getElementById(x).style.display = "block";
        oldGroup=x;
        }
</script>
</html>