<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>TeacherSupportStudent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link href="../static/css/teacherSupportCSS.css"
          th:href="@{css/teacherSupportCSS.css}" rel="stylesheet" media="screen"/>
</head>

<body>
<p>
<div class="text-right pr-3 pt-2 pb-2">
    <form>

        <input type="text" class="form-control bg-white border-0 w-25 d-inline text-right" placeholder="Hello!"
               th:text="${currentUserName}" disabled/>
        <br/>
        <div class="d-inline pr-2">
            <a th:href="@{/logout}" type="button" class=" btn text-white bg-changableColor btn-sm">Log out</a>
        </div>
    </form>
</div>
</p>
<div class="jumbotron text-center rounded-0 bg-changableColor text-white mb-0">
    <h1>TeacherSupportApp</h1>
    <h5>Make it easy</h5>
</div>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">TeacherSupportApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Hello</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/teacherSupportHome">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportAboutMe">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportPublications">Publications</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/teacherSupportStudent">Student</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/teacherSupportContact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportGenerate">Generate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportEditProfile">Edit Profile</a>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportAdminDashboard">Admin Dashboard</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center rounded-0 bg-changableColor text-white mb-0">

    <div class="row">
        <div class="col bg-white jumbotron text-dark mr-3">
            <h4>Add Group</h4>

            <form id="newGroupForm" th:object="${newStudGroupUserAction}"
                  th:action="@{/teacherSupportStudent/addNewGroupUserAction}" method="post"
                  class="form-control bg-gray">

                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{version}"/>
                <input type="text" name="newStudGroupName"  id="newGroupNameId" class="form-control rounded text-center" th:field="*{groupNameField}"  required
                       oninvalid="this.setCustomValidity('Group Name must not be empty !')"
                       oninput="this.setCustomValidity('')"/>
            </form>
            <div class="text-right mt-2">
                <button type="submit" id="addNewStudGroupButton" form="newGroupForm" class="btn mt-2 bg-changableColor text-white">Add</button>
            </div>

            <form class="mt-3" id="edDeleteGroupForm">

                <div class="table-responsive makeMeScroll">
                    <table class="table">
                        <tbody>

                        <tr id="studGroupFormCheck" th:each="objStudGroup : ${currentGroups}">
                            <td th:text="${objStudGroup.groupNameField}"></td>
                            <td class="w-25">
                                <button  type="button" th:value="${objStudGroup.groupNameField}"  class="editStudGroupBtnClass btn bg-changableColor text-white">Edit
                            </button>
                                <button type="button" th:value="${objStudGroup.groupNameField}" class="deleteStudGroupBtnClass btn bg-changableColor text-white">Delete
                                </button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <div class="text-right mt-2">
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col bg-white jumbotron text-dark mr-3 px-3 py-3">
            <input type="text" class="form-control text-center" id="dispGroupForResource"
                   th:value="${session.currentStudGroupName}" disabled>
        </div>
    </div>

    <div class="row">
        <div class="col bg-white jumbotron text-dark mr-3">
            <form>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <div class="container bg-changableColor text-white mt-3 mb-2 rounded pr-0 pl-0" id="postResultDivGroupUpdate" align="center"></div>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col ">
                        <input type="text" class="form-control text-center" placeholder="Group Name: " disabled>
                    </div>
                    <div class="col">

                        <input type="text" id="edGroupFormGroupName" th:value="${session.currentStudGroupName}"
                              placeholder="Example: Green Group IT 1 Year " class="form-control rounded text-center d-inline" />

                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control text-center" placeholder="Group Nr: " disabled>
                    </div>
                    <div class="col">
                        <input type="text" id="groupNrFiled" placeholder="Enter usos group number." class="form-control rounded text-center d-inline"/>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control text-center" placeholder="Class Name: " disabled>
                    </div>
                    <div class="col">
                        <input type="text" id="classNameField" class="form-control rounded text-center d-inline" placeholder="Example: Mathematics"/>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control text-center" placeholder="Day: " disabled>
                    </div>
                    <div class="col">
                        <input type="text" id="classDayFiled" class="form-control rounded text-center d-inline" />
                    </div>
                </div>
                <div class="row mr-0 ml-0">

                    <input type="text" class="form-control text-center" placeholder="Faculty: "
                           disabled>
                </div>
                <div class="row mr-0 ml-0 ">

                    <select class="col" id="facultyField">

                        <option th:each="f :${hAllFaculty}" th:text="${f.facultyNameField}" ></option>

                    </select>
                </div>

                <div class="container">
                    <div class="row">

                        <input type="text" class="form-control text-center" placeholder="Time: " disabled>

                    </div>
                    <div class="row">

                        <div class="input-group mb-3 ">
                            <div class="input-group-prepend">
                                <span class="input-group-text">From</span>
                            </div>
                            <input id="timeFromFieldH" type="text" class="form-control  text-center "/>
                            <div class="input-group-prepend">
                                <span class="input-group-text">:</span>
                            </div>
                            <input id="timeFromFieldM" type="text" class="form-control  text-center"/>
                            <div class="input-group-prepend">
                                <span class="input-group-text">To</span>
                            </div>
                            <input id="timeToFieldH" type="text" class="form-control  text-center "/>
                            <div class="input-group-prepend">
                                <span class="input-group-text">:</span>
                            </div>
                            <input type="text" id="timeToFieldM" class="form-control  text-center"/>
                            <div class="input-group-prepend">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="text-right mt-2">
                    <button type="submit" id="groupUpdatePostButton" class="btn mt-2 bg-changableColor text-white">
                        Update
                    </button>
                </div>
            </form>
        </div>

        <div class="col bg-white jumbotron text-dark mr-3">
            <h4 class="mt-4">Add Remote Resource Link</h4>

            <form id="newRemoteResourceForm" class="form-control border-0">
                <div class="row">
                    <div class="col ">
                        <input type="text" class="form-control text-center" placeholder="Resource Name: " disabled>
                    </div>
                    <div class="col">
                        <input type="text" id="newRemoteResourceResourceName" class="form-control rounded text-center d-inline"/>
                    </div>
                </div>

                   <div class="row">
                       <div class="col ">
                           <input type="text" class="form-control text-center" placeholder="Resource Link: " disabled>
                       </div>
                       <div class="col">
                           <input type="text" id="newRemoteResourceResourceLink" class="form-control rounded text-center d-inline"/>
                       </div>
                   </div>

            </form>
            <div class="text-right mt-2">
                <button type="button" id="addRemoteResourceButton" class="btn mt-2 bg-changableColor text-white">Add</button>
            </div>

            <form class="mt-3" id="remoteResourceForm">

                    <div class="table-responsive makeMeScroll">
                        <table class="table">
                            <tbody>

                            <tr th:each="one : ${groupRemoteFiles}">
                                <td th:text="${one.studGroupResourceName}"></td>
                                <td th:text="${one.resourceLink}"></td>
                                <td>
                                    <div class="form-check ">
                                    <input class="form-check-input" type="radio" th:value="${one.id}" name="remoteResourceChecked">
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                <div class="text-right mt-2">
                    <button type="button" id="deleteRemoteResourceButton" class="btn bg-changableColor text-white">Delete</button>
                </div>
            </form>
        </div>

    </div>

</div>
<p class="bg-white"></p>
<div class="jumbotron footer-copyright text-center py-3 rounded-0 bg-changableColor text-white">© 2018 Copyright:
    Karolina Makowska
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="/js/student.js"></script>
</html>