<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <title>TeacherSupportGenerate</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link href="../static/css/teacherSupportCSS.css"
          th:href="@{css/teacherSupportCSS.css}" rel="stylesheet" media="screen"/>
</head>

<body>
<p>
<div class="text-right pr-3 pt-2 pb-2">
    <form>

        <input type="text" class="form-control bg-white border-0 w-25 d-inline text-right" placeholder="Hello!"
               th:text="${currentUserName}"
               disabled/>
        <br/>
        <div class="d-inline pr-2">
            <a th:href="@{/logout}" type="button" class=" btn text-white bg-changableColor btn-sm">Log out</a>
        </div>
    </form>
</div>
</p>
<div class="jumbotron text-center rounded-0 bg-changableColor text-white mb-0">
    <h1>TeacherSupportApp</h1>
    <h5>Make it easy</h5>
</div>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">TeacherSupportApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Hello</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/teacherSupportHome">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportAboutMe">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportPublications">Publications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportStudent">Student</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/teacherSupportContact">Contact</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/teacherSupportGenerate">Generate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportEditProfile">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportAdminDashboard">Admin Dashboard</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center rounded-0 bg-changableColor text-white mb-0">

    <div class="bg-white jumbotron text-dark mr-3 ml-3">
        <h3 class="mb-2">Generate</h3>
        <div class="row">

            <div class="col"> </div>

            <div class="col">
                <form id="selectPages">
                    <div class="table-responsive makeMeScroll bg-white" align="center">
                        <table class="table">
                            <tr>
                                <td>Home</td>
                                <td><input type="checkbox" id="Home" value="Home.html"></td>
                            </tr>
                            <tr>
                                <td>About Me</td>
                                <td><input type="checkbox" id="AboutMe" value="AboutMe.html"></td>

                            </tr>
                            <tr>
                                <td>Publications</td>
                                <td><input type="checkbox" id="Publications" value="Publications.html"></td>
                            </tr>
                            <tr>
                                <td>Student</td>
                                <td><input type="checkbox" id="Student" value="Student.html"></td>
                            </tr>
                            <tr>
                                <td>Contact</td>
                                <td><input type="checkbox" id="Contact" value="Contact.html"></td>
                            </tr>


                        </table>
                    </div>
                </form>
                <div class="mt-2">
                <button id="generateButton" type="button" class=" btn text-white bg-changableColor mt-1 " data-toggle="modal" data-target="#downloadModal">Download Selected
                </button>
                    <button id="generateAllButton" type="button" class=" btn text-white bg-changableColor mt-1 " data-toggle="modal" data-target="#downloadModal">Download all
                    </button>
                <button id="generateTemplateButton" type="button" class=" btn text-white bg-changableColor mt-1" data-toggle="modal" data-target="#downloadModal">Download Template</button>
                </div>
                </div>
            <div class="col"> </div>
        </div>
    </div>
</div>

<p class="bg-white"></p>
<div class="jumbotron footer-copyright text-center py-3 rounded-0 bg-changableColor text-white">© 2018 Copyright:
    Karolina Makowska
</div>

<!-- Modal -->
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="downloadModalLabel">Get your page</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div id="listFiles"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/generate.js"></script>

</html>