<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>TeacherSupportContact</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link href="../static/css/teacherSupportCSS.css"
          th:href="@{css/teacherSupportCSS.css}" rel="stylesheet" media="screen"/>
</head>

<body>
<p>
<div class="text-right pr-3 pt-2 pb-2">
    <form>

        <input type="text" class="form-control bg-white border-0 w-25 d-inline text-right" placeholder="Hello!"
               th:text="${currentUserName}"
               disabled/>
        <br/>
        <div class="d-inline pr-2">
            <a th:href="@{/logout}" type="button" class=" btn text-white bg-changableColor btn-sm">Log out</a>
        </div>
    </form>
</div>
</p>
<div class="jumbotron text-center rounded-0 bg-changableColor text-white mb-0">
    <h1>TeacherSupportApp</h1>
    <h5>Make it easy</h5>
</div>

<nav class="navbar navbar-expand-lg navbar-light border-warning">
    <a class="navbar-brand" href="/">TeacherSupportApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Hello</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/teacherSupportHome">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportAboutMe">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportPublications">Publications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportStudent">Student</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/teacherSupportContact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportGenerate">Generate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportEditProfile">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportAdminDashboard">Admin Dashboard</a>
            </li>
        </ul>
    </div>
</nav>


<div class="jumbotron text-center rounded-0 bg-changableColor text-white mb-0">

    <div class="row">
    <div class="col bg-white jumbotron text-dark mr-3 text-center" >
        <h4>Meet Me</h4>


<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="container bg-changableColor text-white mt-3 mb-2 rounded pr-0 pl-0" id="postResultDivContact" align="center"></div>
    </div>
        <div class="col"></div>
</div>
        <form>
            <div class="container">
                <div class="row">
                    <div class="col-xs ">
                        <input type="text" class="form-control text-center" placeholder="Place: " disabled>
                    </div>
                    <div class="col-sm">
                        <input type="text" id="placeField" class="form-control rounded text-center d-inline" />
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-xs ">
                        <input type="text" class="form-control text-center" placeholder="Office Number: " disabled>
                    </div>
                    <div class="col-sm">
                        <input type="text" id="officeField" class="form-control rounded text-center d-inline" />
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-xs ">
                        <input type="text" class="form-control text-center" placeholder="Day: " disabled>
                    </div>
                    <div class="col-sm">
                        <input type="text" id="dayField" class="form-control rounded text-center d-inline"/>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-xs">
                        <input type="text" class="form-control text-center" placeholder="Time: " disabled>
                    </div>

                    <div class="col-sm">
                        <div class="input-group mb-3 ">
                            <div class="input-group-prepend">
                                <span class="input-group-text" >From</span>
                            </div>
                            <input id="timeFromFieldH" type="text" class="form-control  text-center "/>

                            <div class="input-group-prepend">
                                <span class="input-group-text" >:</span>
                            </div>
                            <input  id="timeFromFieldM" type="text" class="form-control  text-center"/>
                            <div class="input-group-prepend">
                                <span class="input-group-text" >To</span>
                            </div>
                            <input id="timeToFieldH" type="text" class="form-control  text-center "/>
                            <div class="input-group-prepend">
                                <span class="input-group-text" >:</span>
                            </div>
                            <input type="text" id="timeToFieldM" class="form-control  text-center"/>
                            <div class="input-group-prepend">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" id="contactPostButton" class="btn bg-changableColor text-white">Add Contact Info</button>
        </form>
    </div>
        <div class="col bg-white jumbotron text-dark mr-3 text-center" >

            <form class="mt-3" id="dispContactForm">

                    <div class="table-responsive makeMeScroll ">
                        <table class="table">
                            <tbody>
                            <thead>
                            <tr>
                                <th scope="col">Place</th>
                                <th scope="col">Office Number</th>
                                <th scope="col">Day</th>
                                <th scope="col">Time</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>

                            <tr th:each="objMeetMe : ${meetMeDataList}">
                                <td th:text="${objMeetMe.getPlaceField()}"></td>
                                <td th:text="${objMeetMe.getOfficeField()}"></td>
                                <td th:text="${objMeetMe.getDayField()}"></td>
                                <td th:text="${objMeetMe.getTimeField()}"></td>

                                <td>
                                    <div class="form-check ">
                                    <input class="form-check-input" type="radio" name="checkedContactInfo" th:value="${objMeetMe.id}">
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                <div class="text-right mt-2">
                    <button type="button" id="deleteContactInfoButton" class="btn bg-changableColor text-white">Delete</button>
                </div>
            </form>
        </div>
        </div>
    </div>

</div>
</div>


<p class="bg-white"></p>

<div class="jumbotron footer-copyright text-center py-3 rounded-0 bg-changableColor text-white">© 2018 Copyright:
    Karolina Makowska
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="/js/contact.js"></script>
</html>