<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">

    <title>TeacherSupportLogIn</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link href="../static/css/teacherSupportCSS.css"
          th:href="@{css/teacherSupportCSS.css}" rel="stylesheet" media="screen"/>
</head>

<body>
        <p class="bg-white"> </p>
    <div class="container">
        <div class="row">
            <div class="col-sm">

            </div>

            <div class="col-sm">
                <div class="jumbotron text-center rounded-0 bg-changableColor text-white mb-0">
                    <h1>TeacherSupportApp</h1>
                    <h5>Make it easy</h5>
                    <div class="jumbotron rounded  bg-white text-dark mt-4">
                        <form  th:action="@{/teacherSupportLogIn}" method="post">
                            <div class="row">
                                <div class="col-4">
                                    <input type="text" class="form-control text-center" placeholder="e-mail: " disabled>
                                </div>
                                <div class="col">
                                    <input type="text" name="username" class="form-control rounded text-center d-inline" />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-5">
                                    <input type="text" class="form-control text-center" placeholder="Password: " disabled>
                                </div>
                                <div class="col-sm">
                                    <input type="password" name="password" class="form-control rounded text-center d-inline" />
                                </div>
                            </div>
                            <button type="submit" class="btn mt-4 bg-changableColor text-white">Login</button>
                        </form>
                    </div>

                    <div >
                        <div th:if="${param.error}">
                            <label style="color:red">Invalid username and password.</label>
                        </div>
                                <h5>If you have no account</h5>
                           
                                <a href="/teacherSupportRegister" class="btn bg-white rounded text-center d-inline" >Register</a>
                        </div>

                </div>
                <p class="bg-white"> </p>
                <div class="jumbotron footer-copyright text-center py-3 rounded-0 bg-changableColor text-white">© 2018 Copyright: Karolina Makowska </div>
            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>




</body>

</html>